/* Accordion */



/* Figures */

figure {
  display: table-cell;
  padding-right: 20px;
}

figcaption {
  display: table-caption;
}

li {
  vertical-align:top;
}

.thumbnail {
  position: relative;
  width: auto;
  height: 128px;
  overflow: hidden;
  margin-bottom: 5px;
}

.thumbnail img {
  position: absolute;
  left: 50%;
  top: 50%;
  height: 100%;
  width: auto;
  //border-radius: 0;
  -webkit-transform: translate(-50%,-50%);
  -ms-transform: translate(-50%,-50%);
  transform: translate(-50%,-50%);
}

/* Tabs*/

.nav-tabs > li > a:focus {
  border: 1px solid transparent;
  border-radius: 4px 4px 0 0;
  line-height: 1.42857;
  margin-right: 2px;
}

.nav.nav-tabs > li.ui-tabs-active > a {
  background-color: #fff;
  border-color: #ccc #ccc #fff;
  border-image: none;
  border-style: solid;
  border-width: 1px;
  color: #0d785b;
  font-weight: bold;
  margin-bottom: 0;
}

/* Autocomplete*/
.tt-dropdown-menu {
  right: 0px;
  width: 100%;
  max-width: 649px;
  margin-top: -11px;
}

.tt-suggestion.tt-cursor {
  background-color: #50bf9e;
  color: #fff;
}

.tt-suggestion:last-child {
  margin-bottom: -10px;
}

.autocomplete-header {
  background-color: #0d785b !important;
  color: #fff;
  border: 1px solid #ddd;
  cursor: pointer;
  display: block;
  margin-bottom: -1px;
  overflow: hidden;
  padding: 6px 6px;
  position: relative;
  text-overflow: ellipsis;
  white-space: nowrap;
}

/* Tag Cloud */

.hotag {
  padding-right: 10px;
  word-spacing: 1em;
}

.authoruris {
	font-weight: normal;
  a {
		display: inline !important;
	}
}


/* Modules detailspages*/
span.labelAsString {
  font-size: inherit;
}

/* Carousel*/
.ui-dialog { z-index: 1000 !important ;}

#similar-items-carousel-home-works .carousel-indicators, #similar-items-carousel-home-authors .carousel-indicators, #similar-items-carousel-home-subjects .carousel-indicators {
  margin-bottom: -20% !important;
  margin-top:20px;
  left: 35%;
  width: 95%;
  }

#similar-items-carousel-home-works .carousel-indicators li, #similar-items-carousel-home-authors .carousel-indicators li, #similar-items-carousel-home-subjects .carousel-indicators li {
  background-color: rgba(0, 0, 0, 0) !important;
  border: 1px solid #0d785b !important;
  border-radius: 20px !important;
  cursor: pointer !important;
  display: inline-block !important;
  height: 30px !important;
  margin: 1px !important;
  margin-right: 20px !important;
  text-indent: -999px !important;
  width: 30px !important;
}

#similar-items-carousel-home-works .carousel-indicators .active, #similar-items-carousel-home-authors .carousel-indicators .active, #similar-items-carousel-home-subjects .carousel-indicators .active {
  background-color: #0d785b !important;
}

.home-content-box li:last-child {
  padding: 0;
}

#similar-items-carousel-home-works .hover-overlay .content, #similar-items-carousel-home-authors .hover-overlay .content, #similar-items-carousel-home-subjects .hover-overlay .content {
  display: inline !important;
}

#similar-items-carousel-home-works .hover-overlay > img, #similar-items-carousel-home-authors .hover-overlay > img, #similar-items-carousel-home-subjects .hover-overlay > img {
  display: inline !important;
  margin: auto !important;
  max-height: 150px !important;
  max-width: 120px !important;
  position: relative !important;
  text-align: left !important;
}

#similar-items-carousel-home-works .col-sm-4, #similar-items-carousel-home-authors .col-sm-4, #similar-items-carousel-home-subjects .col-sm-4  {
  padding-left: 0;
  padding-right: 0;
}

/* KnowledgeCard*/

#similar-items-carousel-knowledgeCard .carousel-indicators {
  bottom: 0;
}

#similar-items-carousel-knowledgeCard .carousel-indicators li {
  background: rgba(255, 255, 255, 0.3) none repeat scroll 0 0;
  border-color: #222222;
  height: 8px;
  margin: 2px;
  width: 8px;
}

#similar-items-carousel-knowledgeCard .hover-overlay img {
  margin: 10px 0;
  max-width: 100%;
}
#similar-items-carousel-knowledgeCard .hover-overlay .content {
  background: rgba(0, 0, 0, 0.5) none repeat scroll 0 0;
  color: #ffffff;
  display: none;
  height: 100%;
  left: 0;
  padding: 0.5em 0.5em 0;
  position: absolute;
  top: 0;
  width: 100%;
}
#similar-items-carousel-knowledgeCard .hover-overlay:hover .content {
  display: block;
}
#similar-items-carousel-knowledgeCard .item {
  padding: 0 4em;
}

.kcopenerAuthor .kcopenerSubject {
  cursor: pointer;
}

.fa-info-circle {
  color: #0d785b;
}

.fa-info-circle:hover {
  color: #50bf9e;
}

/* Knowledge Card - altered and added classes */
/* Helpers */
.ui-helper-clearfix:after { content: "."; display: block; height: 0; clear: both; visibility: hidden; }

/* Overlays */
.ui-widget-overlay { position: absolute; top: 0px; left: 0; width: 100%; height: 100%; }
.ui-widget-overlay { background: #aaaaaa url(images/ui-bg_flat_0_aaaaaa_40x100.png) 50% 50% repeat-x; opacity: .30;filter:Alpha(Opacity=30); }
.ui-widget-overlay {position: fixed;}

/* Content */
.ui-widget-content { background: #ffffff; max-width: 864px !important; }
#knowledgeCard > .ui-widget-content { border: black solid 1px;  }

/* Header */
.knowledgeCard > .ui-widget-header { border: 1px solid #aaaaaa; background: #cccccc url(images/ui-bg_highlight-soft_75_cccccc_1x100.png) 50% 50% repeat-x; color: #222222; font-weight: bold; }

/* Dialogs */
.ui-dialog { position: absolute; padding: .2em; width: 300px; overflow: hidden; }
.ui-dialog .ui-dialog-titlebar { padding: .4em 1em; position: relative;  }
.ui-dialog .ui-dialog-title { float: left; margin: .1em 20px .1em 0; font-size: 20px; font-weight: 600;}
.ui-dialog .ui-dialog-titlebar-close { position: absolute; right: .3em; top: 50%; margin: -10px 0 0 0; padding: 1px;}
.ui-dialog .ui-dialog-titlebar-close span { display: block; margin: 1px; }
.ui-dialog .ui-dialog-titlebar-close:hover, .ui-dialog .ui-dialog-titlebar-close:focus { padding: 0; }
.ui-dialog .ui-dialog-content { position: relative; border: 0; padding: .5em 1em; background: none; overflow: auto; zoom: 1; }
.ui-dialog .ui-dialog-buttonpane { text-align: left; border-width: 1px 0 0 0; background-image: none; margin: .5em 0 0 0; padding: .3em 1em .5em .4em; }
.ui-dialog .ui-dialog-buttonpane .ui-dialog-buttonset { float: right; }
.ui-dialog .ui-dialog-buttonpane button { margin: .5em .4em .5em 0; cursor: pointer; }
.ui-dialog .ui-resizable-se { width: 14px; height: 14px; right: 3px; bottom: 3px; }
.ui-draggable .ui-dialog-titlebar { cursor: move; }
.ui-button {
  -moz-user-select: none;
  background-image: none;
  border: 1px solid transparent;
  border-radius: 2px;
  cursor: pointer;
  display: inline-block;
  font-size: 14px;
  font-weight: normal;
  line-height: 1.42857;
  margin-bottom: 0;
  padding: 6px 12px;
  text-align: center;
  vertical-align: middle;
  white-space: nowrap;
  background-color: #0d785b;
  color: #fff;
}
.ui-button:hover, .ui-button:focus, .ui-button.focus, .ui-button:active, .ui-button.active, .open > .dropdown-toggle.btn-primary {
  background-color: #50bf9e;
  border-color: #50bf9e;
  color: #fff;
}
.ui-button:active, .ui-button.active, .open > .dropdown-toggle.btn-primary {
  background-image: none;
}

/* Corners */
.ui-corner-all, .ui-corner-top, .ui-corner-left, .ui-corner-tl { -moz-border-radius-topleft: 4px; -webkit-border-top-left-radius: 4px; -khtml-border-top-left-radius: 4px; border-top-left-radius: 4px; }
.ui-corner-all, .ui-corner-top, .ui-corner-right, .ui-corner-tr { -moz-border-radius-topright: 4px; -webkit-border-top-right-radius: 4px; -khtml-border-top-right-radius: 4px; border-top-right-radius: 4px; }
.ui-corner-all, .ui-corner-bottom, .ui-corner-left, .ui-corner-bl { -moz-border-radius-bottomleft: 4px; -webkit-border-bottom-left-radius: 4px; -khtml-border-bottom-left-radius: 4px; border-bottom-left-radius: 4px; }
.ui-corner-all, .ui-corner-bottom, .ui-corner-right, .ui-corner-br { -moz-border-radius-bottomright: 4px; -webkit-border-bottom-right-radius: 4px; -khtml-border-bottom-right-radius: 4px; border-bottom-right-radius: 4px; }