/* Accordion */



/* Figures */

figure {
  display: table-cell;
  padding-right: 20px;
}

figcaption {
  display: table-caption;
}

li {
  vertical-align:top;
}
/* Tabs*/

.nav-tabs > li > a:focus {
  border: 1px solid transparent;
  border-radius: 4px 4px 0 0;
  line-height: 1.42857;
  margin-right: 2px;
}

.nav.nav-tabs > li.ui-tabs-active > a {
  background-color: #fff;
  border-color: #ccc #ccc #fff;
  border-image: none;
  border-style: solid;
  border-width: 1px;
  color: #0d785b;
  font-weight: bold;
  margin-bottom: 0;
}

/* Dropdown*/
.tt-dropdown-menu {
  right: 0px;
  width: 100%;
  max-width: 653px;
}

/* Tag Cloud */

.hotag {
  padding-right: 10px;
  word-spacing: 1em;
}

.authoruris {
	font-weight: normal;

	a {
		display: inline !important;
	}
}

/* KnowledgeCard*/
#similar-items-carousel-knowledgeCard .carousel-indicators {
  bottom: 0;
}
#similar-items-carousel-knowledgeCard .carousel-indicators li {
  background: rgba(255, 255, 255, 0.3) none repeat scroll 0 0;
  border-color: #222222;
  height: 8px;
  margin: 2px;
  width: 8px;
}
#similar-items-carousel-knowledgeCard .hover-overlay {
  display: block;
  margin: auto;
  min-height: 200px;
  min-width: 150px;
  position: relative;
  text-align: center;
}
#similar-items-carousel-knowledgeCard .hover-overlay img {
  margin: 10px 0;
  max-width: 100%;
}
#similar-items-carousel-knowledgeCard .hover-overlay .content {
  background: rgba(0, 0, 0, 0.5) none repeat scroll 0 0;
  color: #ffffff;
  display: none;
  height: 100%;
  left: 0;
  padding: 0.5em 0.5em 0;
  position: absolute;
  top: 0;
  width: 100%;
}
#similar-items-carousel-knowledgeCard .hover-overlay:hover .content {
  display: block;
}
#similar-items-carousel-knowledgeCard .item {
  padding: 0 4em;
}

.kcopener {
  cursor: pointer;
}
