h1, h2 {
  padding-top: 20px;
}

ul, li {
  list-style: none;
  margin-top: 10px;
}


#allWrapper {
  background-color: white;
  padding-bottom: 1px;
  padding-left: 190px;
  padding-right: 25%;
}

#knowledgeCardAuthorWrapper {
  margin-left: 190px;
}

#knowledgeCardAuthorImage {
  float: left;
  margin-left: -180px;
}

#knowledgeCardAuthorDescription {
  float: right;
  width: 100%;
}

#knowledgeCardWorks {
  clear: both;
  width: 100%;
}

#personJumpTo {
  margin-top: 20px;
  margin-left: -180px;
  margin-bottom: -20px;
}

#personJumpTo p {
  font-size: 11px;
}

#personAuthorWrapper {
}

#personAuthorImage {
  float: left;
  margin-top: 20px;
  margin-left: -180px;
}

#personAuthorDescription {
}

#personDetailsLabel {
  float: left;
  margin-left: -180px;
  margin-top: 50px;
  font-weight: bold;
}

#personDetails {
  float: right;
  margin-top: 50px;
  width: 100%;
}

#personMoreLabels {
  float: left;
  margin-left: -180px;
  margin-top: 20px;
  font-weight: bold;
}

#personMoreDetails {
  float: right;
  margin-top: 20px;
  width: 100%;
}

#personWorks {
  clear: both;
  margin-left: -180px;
  margin-top: 20px;
}

#personWorkTypes {
  clear: both;
  margin-left: -180px;
  margin-top: 220px;
}

#personWorkTypes figure {
  display: inline-block;
  padding:  20px 10px 10px 0px;
  vertical-align: top;
}

#personWorkTypes figcaption {
  padding: 10px 10px 10px 0px;
  text-align: left;
  color: #0d785c;
  max-width: 120px;
}

#personTags {
  clear: both;
  margin-left: -180px;
}

#personGalleries {
  clear: both;
  margin-left: -180px;
}

#personGalleries figure {
  display: inline-block;
  padding: 10px;
  vertical-align: top;
}

#personGalleries figcaption {
  padding: 20px;
  text-align: center;
  color: #0d785c;
  max-width: 120px;
}

/* Sidebar */
#personSidebar {
  position: absolute;
  top: 20px;
  left: 75%;
  float: right;
  height: 100%;
  background-color: #d3d3d3;
  padding: 15px;
}

#personSidebarContent {
}

li.externalLink {
  list-style: none;
  list-style-type: none;
  margin-left: -35px;
}

i.externalIcon {
}

i.dummyIcon {
}

img.externalLink {
  max-height: 16px;
  max-width: 16px;
}

span.externalLink {
  margin-top: -20px;
  margin-left: 5px;
  padding-left: 20px;
  display: block;
}

/*Accordion*/

#personAccordion {
  margin-top: 20px;
}

/*Carousel*/

#personCarousel {
  margin-left: -180px;
  margin-top: 10px;
}

#similar-items-carousel {
  float: left;
  margin-top: 10px;
  margin-right: 10px;
  margin-bottom: 20px;
  font-weight: bold;
  height: 250px;
}

#similar-items-carousel img {
  max-height: 200px;
}

/* Tabs*/

#tabs {
  float: left;
  margin-right: 10px;
}

.nav-tabs > li > a:focus {
  border: 1px solid transparent;
  border-radius: 4px 4px 0 0;
  line-height: 1.42857;
  margin-right: 2px;
}

.nav.nav-tabs > li.ui-tabs-active > a {
  background-color: #fff;
  border-color: #ccc #ccc #fff;
  border-image: none;
  border-style: solid;
  border-width: 1px;
  color: #0d785b;
  font-weight: bold;
  margin-bottom: 0;
}

.tabContent {
  margin-top: 20px;
  float: left;
  background-color: #ffffff;
}

.tabContent img {
  margin: 20px;
}

.tabContentBibliographic {
  padding-left: 17%;
  margin-top: -100px;
  padding-bottom: 20px;
}

/* old .tabContentButtons {
  margin-left: 78%;
  margin-top: -90px;
}

*/

.tabContentButtons img {
  margin: 0px;
}

.tabContentButtons {
  margin-left: 74%;
  width: 25%;
  margin-top: -125px;
}

.btn-primary {
  display: block;
  border-radius: 4px;
  margin-bottom: 4px;
  padding-left: 15px;
  padding-right: 15px;
  text-align: left;
}

.tabContentButtons img {
  margin: 0px;
}

.fa {
  margin-right: 2px;
}

#resultView:nth-child(2n+0 ) {
  background-color: #F5F5F5;
}

/*
article.tabs section {
  margin-left: -180px;
  display: block;
  width: 100%;
  background-color: #ffffff;
}

article.tabs section h3 {
  float: left;
  width: 33%;
  height: 30px;
  text-align: center;
  color: #ffffff;
  margin: 0;
  background-color: #0d785c;
  border-radius: 5px 5px 0 0;
  border: solid #000000;
  border-width: 1px 1px 0 0;
  z-index: 1;
}

article.tabs section:nth-child(2) h3 {
  z-index: 0;
}

article.tabs section:nth-child(3) h3 {
  z-index: -1;
}

article.tabs section h3 a {
  margin: 5px 0 0 0;
  text-align: center;
  text-decoration: none;
  color: #ffffff;
}

article.tabs section:target, article.tabs section:target h3 {
  color: #000000;
  background-color: #ffffff;
  z-index: 1;
}

article.tabs section:target .tabContent, article.tabs .initiallyOpened {
  background-color: #ffffff;
}

article.tabs section:target .tabContent {
  z-index: 2;
}

article.tabs .initiallyOpened {
  z-index: 1;
}

article.tabs section:target h3 a {
  color: #000000;
}
*/

/* Tag Cloud

.hotag1 {
   width: 100%;
   padding-bottom: 20px;
   padding-right: 20px;
   float: left;
   overflow: hidden;
   text-overflow: ellipsis;

   text-align: justify;
 }

.hotag1 a {
  vertical-align: top;
}

.hotag2 {
  width: 100%;
  padding-bottom: 20px;
  padding-right: 20px;
  float: left;
  overflow: hidden;
  text-overflow: ellipsis;
  word-spacing: 1em;
  text-align: center;
}


.hotag3 {
  width: 100%;
  padding-bottom: 20px;
  padding-right: 20px;
  float: left;
  overflow: hidden;
  text-overflow: ellipsis;
  word-spacing: 1em;
}

.hotag3 a {
  vertical-align: top;
}

}*/

.hotag {
  width: 100%;
  padding-bottom: 20px;
  padding-right: 20px;
  float: left;
  overflow: hidden;
  text-overflow: ellipsis;
  word-spacing: 1em;
  text-align: justify;
}


