#authorImage {
  float: left;
  height: 180px;
  width: 8%;
}

#authorDescription {
  float: left;
  height: 180px;
  width: 92%;
}

#works {
  clear: both;
  width: 100%;
}

h2 {
  font-size: 20px;
}