#allWrapper {
	background-color: white;
	padding-bottom: 1px;
}

#authorWrapper {
	margin-left: 190px;
}

#authorImage {
	float: left;
	margin-left: -180px;
}

#authorDescription {
	float: right;
	width: 100%;
}

#works {
	clear: both;
	width: 100%;
}

h1, h2 {
	padding-top: 20px;
}
